
.product-container {
  display: flex;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: rgb(64, 106, 161);
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgb(182, 182, 182);
}

.product-image {
  flex: 1;
}

.product-image img {
  width: 100%;
  height: auto;
  display: block;
}

.product-details {
  flex: 1;
  padding: 20px;
}

.product-name {
  font-size: 24px;
  font-weight: bold;
  color: #ddd;
  margin-bottom: 10px;
}

.product-info {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.related-posts {
  max-width: 800px;
  margin: 20px auto;
}

.related-posts h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 1;
  max-width: 300px;
  border: 1px solid #ddd;
  margin: 0 10px 20px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.card-button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}