.form-forget {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

.forget {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    color: white;
}
  
  .center-form {
    text-align: left; /* Align text to the left */
    background-color: #00426C;
    border-radius: 16px;
    margin-top: 140px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .container-center {
    max-width: 400px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center horizontally */
    padding: 60px;
  }

  .container-center h1{
    color: white;
  }
  
  .forget input {
    height: 40px;
    max-width: 100%; /* Set maximum width to fit the container */
    width: 100%;
    border-radius: 8px;
    padding-left: 10px;
    color: azure;
    border: 1px solid var(--gray-500, #6783A0);
    background: var(--gray-800, #30445B);
  }
  
  @media (max-width: 768px) {
    .container {
      width: 100%;
      position: relative;
      height: auto;
    }
  }
  
  .forget a {
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #009CFF; /* Link color */
  }
  .forget button {
    display: flex;
    width: 100%;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #009CFF;
    margin-top: 40px;
    color: aliceblue;
    font-weight: 600;
}
  
.arrow-button {
    display: inline-block;
    padding: 11px;
    background-color: var(--gray-950, #1C2631);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.top {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%; /* Full width of the parent container */
    text-align: center; ; /* Add padding as needed */
}

/* Center the content within .top */
.top img {
    display: inline-block;
}