body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
}

.sec1 {
    display: flex;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}