.sec1 {
    margin: 0;
    padding: 0;
}

.rectangle {
    background-image: url("../resources/rectangle.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    background-size: auto;
    margin-top: -70px;
    background-size: contain;

}

.background-image {
    color: white;
    font-size: 50px;
    font-size: 1.5em;
    text-align: center;
    padding: 20px 0px 88px;
    margin: 1em 0;
}

.containerbtn {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    align-content: center;
}

.containerbtn .btn1 {
    padding: 12px 30px;
    background-color: #009CFF;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.containerbtn .btn2 {
    padding: 12px 30px;
    background-color: #FFFF;
    color: black;
    cursor: pointer;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sec2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FFFF;
    padding: 0px 400px;
}

.sec2-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
    padding: 20px;
}

.sec2-row p {
    width: 60%;
    color: black;
}

.sec2-row img {
    width: 20%;
    height: auto;
}

.icon-hw {
    display: block;
    margin-top: -135px;
    margin-right: 20px;
}

.icon-hw img {
    width: 40px;
}

.section-heading {
    text-align: center; /* Center the heading */
    margin: 20px 0; /* Add margin for spacing */
}

.section-heading h1 {
    display: inline-block;
    position: relative;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.section-heading span {
    color: #009CFF;
}

/* Add the custom underline image for the 'h1' element */
.section-heading h1:after {
    content: '';
    display: block;
    background-image: url('https://i.ibb.co/xhdd6YY/Section-line.png');
    background-size: 100% 2px;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -5px;
}
