@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 138px;
    margin-bottom: -20px;
    color: #fff;
    border-radius: 0%;
    background: linear-gradient(90deg, #00648c 65%, #0a789c 100%)
}

.logo img {
    width: 196px;
    height: 59px;
    flex-shrink: 0;
}

.buttons {
    display: flex;
    gap: 8px;
}

.buttons button {
    padding: 8px 16px;
    background-color: #009CFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.secondaryBtn {
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
    padding: 8px 16px;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.country {
    justify-content: space-between;
}

.loc {
    margin-left: 20px;
}

.h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

.h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

.h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

.h5 {
    font-size: 0.83em;
    margin: 1.5em 0;
}

.text-sm{
    font-size: 1.5rem;
}
