<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction Waly Bid information</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #ffffff; color:#009CFF; margin: 0; padding: 0;">
    <table align="center" bgcolor="#222222" cellpadding="0" cellspacing="0" width="600"
        style="border-collapse: collapse; max-width: 600px; margin: 0 auto; padding: 20px;">

        <tr>
            <td bgcolor="#222222" style="background-color: #009CFF; color: #009CFF; padding: 20px;">
                <p style="font-size: 18px; margin: 10px 0;color: #fff;">Dear {{reqUser}},</p>
                <p style="font-size: 18px; margin: 10px 0;color: #fff;">Thank you for placing a bid at Auction Waly!
                </p>
                <p style="font-size: 18px; margin: 10px 0;color: #fff;">Your Bid at Auction Waly has been confirmed:
                </p>
                <p style="font-size: 18px; margin: 10px 0;color: #fff;"> We appreciate your participation. If your
                    bid is successful, we will reach out to you with further details.
                </p>

                <!-- <ul style="font-size: 18px; margin: 10px 0; padding-left: 20px;">
                    <li>
                        <span style="color: #394cb8;">Car name :</span>
                        <span style="color: #17be17;">{{name}}</span>
                    </li>
                    <li>
                        <span style="color: #394cb8;">Car model :</span>
                        <span style="color: #17be17;">{{model}}</span>
                    </li>
                    <li>
                        <span style="color: #394cb8;">loaction :</span>
                        <span style="color: #17be17;">{{location}}</span>
                    </li>
                    <li>
                        <span style="color: #394cb8;">owner name :</span>
                        <span style="color: #17be17;">{{ownerName}}</span>
                    </li>
                    <li>
                        <span style="color: #394cb8;">owner contact :</span>
                        <span style="color: #17be17;">{{ownerContact}}</span>
                    </li>
                    <li>
                        <span style="color: #394cb8;">Your bid amount :</span>
                        <span style="color: #17be17;">{{bidPrice}}</span>
                    </li>

                </ul> -->

                <p style="font-size: 18px; margin: 20px 0; color: #16205c;">We're looking forward to serving you. If you
                    have any
                    questions or need further assistance, please don't hesitate to reach out to us.</p>

            </td>
        </tr>
        <tr>
            <td bgcolor="#3498db" style="background-color: #ececec; padding: 20px;">
                <p style="font-size: 18px; margin: 0;">ACTION WALY - Your Trusted Bidding Platform</p>
            </td>
        </tr>
    </table>
</body>

</html>